.head-tag{
    position: relative;
    width: 1600px;
    height: 850px;
}
.header-part{
    position: absolute;
    top: 0;
    /* margin: 30px 40px;
    text-align: center;
    align-items: center;
    padding: 300px 600px; */
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 65px;
}
/* 2nd section about my failure*/
.img-failure{
    margin: 50px 100px;
    padding: 40px 100px;
    display: flex;
    gap: 50px;
    align-items: center;
}
h2{
    font-size: 40px;
    font-weight: 700;
}
.bg-img{
    background-image: url("./images/header_bg.png");
    width: 500px;
    height: 600px;
    border-radius: 70%; 
}
/* my plan this year */
.skill-developed{
    margin: 130px;
    padding: 100px;
}
.skill{
    display: flex;
    align-items: center;
    gap: 40px;
}
/* always keep a positive mindset part */
.watch{
    background-image:url("./images/watch.png") ;
    background-repeat: no-repeat;
    background-size:contain;
    margin: 30px 40px;
    padding: 80px;
    }
 .mindset{
    font-size: 40px;
    font-weight: 800;
    color: white;
     }
.btu{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color:#ff5959;
    background-color: white;
}
/* footer */